.cabecalho__menu-hamburguer
{
    width: 40px;
    height: 40px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho 
{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__container
{
    display: flex;
    align-items: center;
}

.container__botao
{
    display: none;
}

.container__imagem
{
    padding: 1rem;
}

.container__titulo
{
    display: none;
}

.container__lista-menu
{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.container__lista-menu
{
    display:block;
    
}

.lista-menu__item,.lista-menu__titulo
{
    padding: 1rem;
    background-color: var(--branco);
    text-transform: uppercase;
}

.lista-menu__titulo
{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link
{
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    color: black; /*Caso a propriedade -webkit-texto-fill-color não seja suportada*/
}

.opcoes
{
    display: none;
}

.opcoes__botao
{
    display: none;
}

.container__texto
{
    display: none;
}

/* 428px para celular
1024px para tablet
1728px para computador
MAX para quando a tela principal é desktop
MIN para quando a tela principal for celular*/
@media screen and (min-width:1024px)
{

    .container__botao:checked~.container__lista-menu
    {
        display:none;
    }

    .cabecalho__menu-hamburguer
    {
        display: none;
    }

    .container__titulo,.container__titulo__negrito
    {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo
    {
        font-weight: 400;
        display: block;
        
    }

    .container__titulo__negrito
    {
        font-weight: 700;
    }

    .opcoes
    {
        display: flex;
    }

    .opcoes__item
    {
        padding: 0 1rem;
        text-transform: uppercase;
    }

    .opcoes__botao:checked~.container__lista-menu
    {
        display: block;
        width: auto;
    }

    /* .opcoes__botao:checked~label>li
    {   
        padding: 1rem 1rem;
        background-color: var(--azul);
    } */

    .opcoes__botao:checked~.container__lista-menu >.lista-menu__item:hover
    {
        font-weight: 700;
        background-color: var(--azul);
    }

    .opcoes__link
    {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente
    {
        display: none;
    }
}

/* @media screen and (min-width:1024px) and (orientation: landscape) */

@media screen and (min-width:1728px)
{

    .cabecalho__container
    {
        padding: 0 2rem;
    }

    .opcoes
    {
        margin-right: autos;
    }

    .cabecalho__container__link
    {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto
    {
        display: block;
    }


    /* .cabecalho__container__link[data-rotulo$="sacola" i]::after
    {
        content: "Minha Sacola";
    }

    .cabecalho__container__link[data-rotulo$="usuário" i]::after
    {
        content: "Meu Usuário";
        padding-right: 1rem;
    } */
}
