.rodape
{
    padding: 1rem;
    background-color: var(--branco);
}

hr
{
    margin: 0;
}

.rodape__lista
{
    display: none;
}

@media screen and (min-width:1024px)
{

    .rodape
    {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0;
    }

    .rodape__titulo
    {
        font-size: 24px;
    }

    .rodape__lista
    {
        display:block;
        /* display: flex; Como eu fiz.
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 1rem; */
    }

    .rodape__lista__titulo
    {
        display: list-item;
        color: var(--cinza-claro);
        font-size: 14px;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }

    .rodape__lista__item
    {
        display: flex;
        align-items: center;
        /* column-gap: 0.5rem; Como eu fiz*/
        margin: 0.6rem 0;
    }

    .rodape__lista__item__link
    {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6rem;
    }
}